{sub_dirs, ["rel", "apps"]}.

{deps_dir, "deps"}.

{deps, [
    {meck,   ".*", {git, "https://github.com/eproxus/meck.git",      {tag, "0.8.3"}}},
    {lager,  ".*", {git, "https://github.com/basho/lager.git",       {tag, "2.1.1"}}},
    {ranch,  ".*", {git, "https://github.com/ninenines/ranch",       {tag, "1.1.0"}}},
    {cowboy, ".*", {git, "https://github.com/ninenines/cowboy.git",  {tag, "1.0.3"}}}
]}.