%% -*- mode: erlang -*-
%% ex: ft=erlang
{sys, [
       {lib_dirs, ["../deps"]},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "monitor", "1.0.0",
        [
         kernel,
         stdlib,
         sasl,
         monitor
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "monitor"},
       {profile, embedded},
       {incl_cond, derived},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/(?!start_clean.boot)",
                           "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},
       {app, monitor, [
           {mod_cond, app}, 
           {incl_cond, include},
           {lib_dir, "../apps"}
       ]}
      ]}.

{target_dir, "monitor"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "releases/\{\{rel_vsn\}\}/nodetool"},
           {copy, "monitor/bin/start_clean.boot",
                  "\{\{erts_vsn\}\}/bin/start_clean.boot"},
           {copy, "files/monitor", "bin/monitor"},
           {copy, "files/monitor.cmd", "bin/monitor.cmd"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           %% Following line may be safely removed in new projects
           {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
           {copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
           {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"},
           {copy, "files/html/index.html", "html/index.html"},
           {copy, "files/html/memindex.html", "html/memindex.html"},
           {copy, "files/html/netindex0.html", "html/netindex0.html"},
           {copy, "files/html/netindex1.html", "html/netindex1.html"},
           {copy, "files/html/exporting.js", "html/exporting.js"},
           {copy, "files/html/highcharts.js", "html/highcharts.js"},
           {copy, "files/html/jquery-1.8.3.min.js", "html/jquery-1.8.3.min.js"}
          ]}.
