{erl_opts, [
    {i, "../deps"},
    debug_info,
    warn_export_all,
    warn_export_vars,
    warn_obsolete_guard,
    warn_shadow_vars,
    warn_unused_import,
    warnings_as_errors
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    exports_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{xref_extra_paths, [
    "../deps/lager/ebin",
    "../deps/ranch/ebin",
    "../deps/cowboy/ebin",
    "ebin"
]}.